{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %} 

    <form method = "POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <fieldset class="form-group"> 
                <h3 class="m-text5 t-center">Add New BillBord</h3>
                <article class="media content-section" id ="media_content_section">  
                        
                    {{ form|crispy }} 
                </article>               
            </fieldset>    
        
            <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Submit</button>
                </div>  
        
            
    </form>


{% endblock content %} 
{% crispy form %}