{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br/><br/>
<div class="container">
   
    <form method = "POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3 class="m-text5 t-center">LogIn Now</h3>
            {{ form|crispy }}    
        </fieldset>
        <div class="form-group">
            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit">Submit</button>
        </div>
    </form>  
    <small class="text-muted">
            Forgot Password ? <a class="ml-2" href="{% url 'registration:password_reset' %}">Set New Password</a>
        </small>  
</div>
<br/><br/>

{% endblock %}
{% crispy form %}
